<h2>Test Attendances</h2>

<div class="form-group">
    <label for="ddlCourses">Courses:</label>
    <select class="form-control" id="ddlCourses"></select>
    <br />

    <label for="ddlSchedules">Schedules:</label>
    <select class="form-control" id="ddlSchedules"></select>
    <br />

    <label for="listStudents">Students:</label>
    @*<select class="form-control" id="ddlStudents"></select>*@
    <div id="listStudents"></div>
    <br />

    <button type="button" class="btn btn-default" id="btnAttend">Attend</button>
</div>

@section scripts
{
    <script>
        function loadCourses() {
            $.ajax("http://localhost:22751/api/course/", {
                success: function (data) {
                    $.each(data, function () {
                        var ddlHtml = '<option value="' + this.id + '">' + this.name + "</option>";
                        $("#ddlCourses").append(ddlHtml);
                    });
                    loadSchedules();
                }
            });
        }

        function loadSchedules() {
            var selectedCourseItem = $("#ddlCourses option:selected");
            var selectedCourseId = selectedCourseItem.val();
            $.ajax("http://localhost:22751/api/course/" + selectedCourseId + "/schedules", {
                success: function (dataSchedules) {
                    $('#ddlSchedules').html("");
                    $.each(dataSchedules, function () {
                        var sDate = new Date(this.starting);
                        var eDate = new Date(this.ending);
                        var ddlHtml = '<option value="' + this.id + '">' + sDate.toLocaleTimeString() + '-' + eDate.toLocaleTimeString() + ', ' + sDate.toDateString() + "</option>";
                        $("#ddlSchedules").append(ddlHtml);
                    });

                    loadAttendances();

                }
            });
        }

        function loadStudents() {

            $.ajax("http://localhost:22751/api/student/", {
                success: function (data) {

                    var $listStudents = $("#listStudents");

                    $.each(data, function () {
                        //var ddlHtml = '<option value="' + this.id + '">' + this.firstName + ' ' + this.lastName + "</option>";
                        //$("#ddlStudents").append(ddlHtml);
                        
                        var ddlHtml = '<input type="checkbox" name="student" value="' + this.id + '" />' + this.firstName + ' ' + this.lastName + '<br />';
                        $listStudents.append(ddlHtml);
                    });

                }
            });
        }

        function loadAttendances() {

            var selectedSchedule = $("#ddlSchedules option:selected");
            var selectedScheduleId = selectedSchedule.val();

            $.ajax("http://localhost:22751/api/schedule/" + selectedScheduleId + "/attendances", {
                success: function (dataAttendances) {

                    var attendingStudents = dataAttendances.map(function (a) {
                        return a.studentId;
                    });

                    var $studentCheckBoxes = $('#listStudents :checkbox');
                    $.each($studentCheckBoxes, function () {

                        var checkBoxValue = parseInt($(this).val());

                        var isAttending = attendingStudents.indexOf(checkBoxValue) > -1;

                        $(this).prop('checked', isAttending);
                    });

                    console.log(dataAttendances);
                }
            });

        }

        function createAttend() {
            var selectedSchedule = $("#ddlSchedules option:selected");
            var scheduleId = selectedSchedule.val();

            var selectedStudent = $("#ddlStudents option:selected");
            var studentId = selectedStudent.val();

            var schedule =
                {
                    Id: 0,
                    StudentId: studentId,
                    ScheduleId: scheduleId,
                };
            var scheduleJson = JSON.stringify(schedule);

            $.ajax({
                type: "POST",
                url: "http://localhost:22751/api/attendance/",
                data: scheduleJson,
                contentType: "application/json",
                dataType: 'json',
                complete: function(data) {
                    alert(JSON.stringify(data));
                }
            });
        }

        $(document).ready(function () {

            loadStudents();
            loadCourses();
            

            $('#ddlCourses').on('change', function (e) {
                loadSchedules();
            });

            $('#ddlSchedules').on('change', function (e) {
                loadAttendances();
            });

            $('#btnAttend').on('click', function (e) {
                createAttend();
            });
        });
    </script>
}
